.header-main {
    background-color: black;
}

.solution {
    background-color: black;
    /* min-height: 100vh; */
}

.solution .container-fluid {
    margin-left: 6.5rem;
    position: absolute;
    /* left: 2rem; */
    top: 30%;

}

.solution img {
    opacity: 0.3;
}

.solution h2 {
    font-weight: 100 !important;
}
.solution h2 span{
    font-style: italic;
}

@media screen and (max-width: 992px) {


    .solution .container-fluid {
        padding-left: 2rem !important;
        margin-left: 0rem;
    }
}

@media screen and (max-width: 678px) {
    .solution {}

    .solution .container-fluid {
        padding-left: 1rem !important;
        margin-left: 0rem;
    }
}

.stats {
    min-height: 20vh;
}

.border-right {
    border-right: 2px solid #e1e1e1;
}

#building-phenomenal {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.text-outline {
    font-size: 7rem;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

.social {
    text-align: center;
}

.header-left {
    z-index: 99;
}

.section-title {
    width: 100%;
    font-size: 6vh;
    font-weight: 800;
}


.section-paragraph {
    width: 50%;
    font-size: 1.5vh;
    color: #444b52;
}

.header-right {
    position: absolute;
    margin-top: -4vw;
    width: 55%;
    right: 0;
    transition: all 0.5s ease;
}

.stats .card {
    background-color: white;
    padding: 1.5rem;
}

.stats-div {
    position: absolute;
    width: 100%;
    z-index: 99;
    top: -6vw;
    left: 0;
}

.stats .card img {
    width: 65%;
    padding: 2rem;
}

@media(max-width: 1200px) {
    .header-right {
        margin-top: 0vw !important;
        width: 65%;
    }

}

@media(max-width: 992px) {
    .header-right {
        margin-top: 0vw !important;
        width: 100%;
    }

    .header-right img {
        height: 100vh;
        object-fit: cover;
        opacity: 0.3;
    }

    .stats-div {
        position: relative !important;
        width: 100%;
    }

    .text-outline {
        font-size: 5rem;
    }


}